html{overflow: hidden;}
body{margin: 0px;overflow: hidden;}
input{margin:0px;}

#clear{clear: both;}
#userinfo{min-width: 200px; min-height: 90px; position: absolute;display: none;border: 1px black solid; background-color: white; padding: 2px;}
#usermenu{position: absolute;display: none;border: 1px black solid; background-color: white; padding: 2px;}

#chat{width: 700px;height: 550px;border: 1px black solid;}
#scroll{width: 550px;height: 470px;float: left;overflow:auto;border-right: 1px black solid;}
#userlist{width: 147px;height: 470px;float: right;overflow:auto;border-bottom: 1px black solid;}
#chat_nick{width: 100px;height: 25px;margin: 2px 1px 1px 3px;border: 1px black solid;}
#chat_text{width: 500px;height: 25px;margin: 2px 1px 1px 1px;border: 1px black solid;}
#input{width: 700px;height: 27px;float: left;border-top: 1px black solid;}
#sendbutton{width: 40px; height: 27px;}
.user{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.var_font{font-size: 1.5vw;}
