<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
mekechat-ng version beta 0.1<br>
메케챗에 오신걸 환영합니다!<br>

<a href="/room_register.html">방 등록</a><br>
<a href="/room_login.html">방 관리</a><br>
<a href="/service/room/test">메케챗 시험</a><br>
<a href="/service/emoticon_list">이모티콘 목록</a><br>
