<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<form action="/service/room_management/login" method="post">
채팅방 관리 로그인<br>
방 이름 : 
<input type="text" name="room_name"><br>
비밀번호 : 
<input type="password" name="room_password"><br>
<input type="submit" value="로그인">
</form>
