<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
채팅방 등록
<br>
<form action="/service/room_register" method="post">
방 이름 : 
<input type="text" name="room_name"><br>
비밀번호 : 
<input type="password" name="room_password"><br>
<input type="submit" value="방 만들기">
</form>
