<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="/chatroom.css">
<link rel="stylesheet" type="text/css" href="/chatemoticon.css">
<script>
	var room = "{{ dicts.room }}";
	var nick = "{{ dicts.nick }}";
	var key = "{{ dicts.key }}";
</script>
<script language="JavaScript" type="text/javascript" src="/layout.js"></script>
<script language="JavaScript" type="text/javascript" src="/chatemoticon.js"></script>
<script language="JavaScript" type="text/javascript" src="/chatroom.js"></script>
</head>
<body onload="javascript:chat_init();resize();" onresize="javascript:resize()" oncontextmenu="return false;">
<div id="userinfo"></div>
<div id="usermenu" onmouseleave="javascript:hide_usermenu()"></div>
<div id="emoticonlist"></div>
<div id="chat">
<div id="userlist" class="var_font"></div>
<div id="scroll" class="var_font" oncontextmenu="javascript:show_usermenu(event, 'chat');"></div>
<div id="clear"></div>
<div id="input">
<input type="text" id="chat_nick" value="" onchange="javascript:sendChatNick();" onkeydown="javascript:if(event.keyCode==13){sendChatNick();}">
<input type="text" id="chat_text" value="" onkeydown="javascript:if(event.keyCode==13){sendChatText();}">
<input type="button" id="sendbutton" onclick="javascript:show_emoticon();" value="※">
<input type="button" id="sendbutton" onclick="javascript:sendChatText();" value="전송">
</div>
</div>
</body>
</html>
