{% include 'emoticon_list.html' %}
<br><br>
{% for entry in dicts['emoticon_data'].keys() %}
{{ dicts['emoticon_data'][entry][0] }}<br>
{{ dicts['emoticon_data'][entry][3] }}<br>
<img src='/emoticon/{{ dicts['emoticon_data'][entry][2] }}/{{ dicts['emoticon_data'][entry][1] }}'>
<br><br>
{% endfor %}

