{% extends 'room_management_layout.html' %}
{% block body %}
{% include 'room_management_header.html' %}
{% include 'room_management_topmenu.html' %}

<form action="" method="post" id="a">
<input type="hidden" id="command" name="command" value="">

관리자 키 : {{ dicts['admin_key'] }} , 
<input type="button" value="초기화" onclick="javascript:command_submit('init_admin_key');">
<br>
사용자 키 : {{ dicts['user_key'] }} ,
<input type="button" value="초기화" onclick="javascript:command_submit('init_user_key');">
<br>

<br>
{% endblock %}

