채팅방 {{ dicts.room_name }} 의 관리페이지!<br>

<a href="/service/room_management">메인</a> 
<a href="/service/room_management/option">방 설정 관리</a> 
<a href="/service/room_management/user">접속자 관리</a> 
<a href="/service/room_management/ban">밴 관리</a>  
<a href="/service/room_management/logout">로그아웃</a>  
<br><br>
