{% extends 'room_management_layout.html' %}
{% block body %}
{% include 'room_management_header.html' %}
{% include 'room_management_topmenu.html' %}

<form action="" method="post" id="a">
<input type="hidden" id="command" name="command" value="">

비인증자 채팅 허용 : {{ dicts['allow_unauthorized_user_chat'] }} , 
{% if dicts['allow_unauthorized_user_chat'] %}
<input type="button" value="비활성화" onclick="javascript:command_submit('disable_allow_unauthorized_user_chat');">
{% else %}
<input type="button" value="활성화" onclick="javascript:command_submit('enable_allow_unauthorized_user_chat');">
{% endif %}
<br>
닉네임 변경 허용 : {{ dicts['allow_nick_change'] }} , 
{% if dicts['allow_nick_change'] %}
<input type="button" value="비활성화" onclick="javascript:command_submit('disable_allow_nick_change');">
{% else %}
<input type="button" value="활성화" onclick="javascript:command_submit('enable_allow_nick_change');">
{% endif %}
<br>
유저 출입시 전체 메세지 출력 : {{ dicts['display_user_enter'] }} , 
{% if dicts['display_user_enter'] %}
<input type="button" value="비활성화" onclick="javascript:command_submit('disable_display_user_enter');">
{% else %}
<input type="button" value="활성화" onclick="javascript:command_submit('enable_display_user_enter');">
{% endif %}
<br>
{% endblock %}

