{% extends 'room_management_layout.html' %}
{% block body %}
{% include 'room_management_header.html' %}
{% include 'room_management_topmenu.html' %}

<form action="" method="post" id="a">
<input type="hidden" id="command" name="command" value="">
현재 밴 목록! {{ dicts['ban_count'] }} 개!<br>
{% for entry in dicts['ban_list'] %}
IP : {{ entry[1] }} , 
<input type="submit" value="밴 풀기!" onclick="javascript:ip_command_submit('{{ entry[1] }}', 'del_ban')"><br>
{% endfor %}
<br>
밴 추가!<br>
<input type="text" name="ip"> 
<input type="button" value="밴 추가!" onclick="javascript:command_submit('add_ban')"><br>
</form>
{% endblock %}
