{% extends 'room_management_layout.html' %}
{% block body %}
{% include 'room_management_header.html' %}
{% include 'room_management_topmenu.html' %}
<form action="" method="post" id="a">
<input type="hidden" id="userid" name="userid" value="">
<input type="hidden" id="command" name="command" value="">
<input type="button" value="채팅방 청소" onclick="javascript:user_command_submit('0', 'clear');"><br><br>

현재 유저 목록! {{ dicts['room_user_count'] }} 명!<br><br><br>


{% for entry in dicts['room_user'].keys() %}
닉네임 : {{ dicts['room_user'][entry]['nick'] }} ,
IP : {{ dicts['room_user'][entry]['ip'] }} ,
인증 : {{ dicts['room_user'][entry]['auth'] }} ,
관리자 : {{ dicts['room_user'][entry]['admin'] }} ,
아봉해제 : {{ dicts['room_user'][entry]['voice'] }} ,
{% if dicts['room_user'][entry]['admin'] %}
<input type="button" value="옵뺏기" onclick="javascript:user_command_submit('{{ dicts['room_user'][entry]['id'] }}', 'deop');"> ,
{% else %}
<input type="button" value="옵주기" onclick="javascript:user_command_submit('{{ dicts['room_user'][entry]['id'] }}', 'op');"> ,
{% endif %}
<input type="button" value="킥!" onclick="javascript:user_command_submit('{{ dicts['room_user'][entry]['id'] }}', 'kick');"> ,
<input type="button" value="밴!" onclick="javascript:user_command_submit('{{ dicts['room_user'][entry]['id'] }}', 'ban');"> ,
{% if dicts['room_user'][entry]['voice'] %}
<input type="button" value="아봉" onclick="javascript:user_command_submit('{{ dicts['room_user'][entry]['id'] }}', 'devoice');"> ,
{% else %}
<input type="button" value="아봉해제" onclick="javascript:user_command_submit('{{ dicts['room_user'][entry]['id'] }}', 'voice');"> ,
{% endif %}

<br>
{% endfor %}
</form>
{% endblock %}
